/* CSS Document */

.smlReg{font-size:70%;top:-14px;position:relative;}


#dbg-screen1{
	background-image:url(../images/dbg_self_select_show/background.png);
}


.dbg-selfselect-container{
	width:800px;
	height:408px;
	display:block;
	float:left;
	/*/background-image:url(../images/logo-tnl.png);
	background-repeat:no-repeat;
	background-position:right 70px;/*/
}

#dbg-selfselect-buttons{
	display:block;
	float:left;
	width:776px;
	height:103px;
	padding-left:24px;
}

.dbg-selfselect{
	width:800px;
	height:115px;
	display:block;
	float:left;
	margin-top:185px;
}
.dbg-selfselect h1{
	letter-spacing:-2px;
	word-spacing:5px;
	font-size:70px;
	margin:0 0 0 20px;
	padding:0;
	line-height:22px;
}
.dbg-selfselect h1 .small{
	display:block;
	margin:0;
	padding:0;
	font-size:40px;
}
.dbg-selfselect h1 .norm{
	display:block;
	margin:0;
	padding:0;
	padding-top:10px;
}

.dbg-selfselect h1 span{
	/*/font-family:'EffraRegular';
	font-weight:normal;/*/
}
.dbg-selfselect p{
	/*/font-family:'EffraRegular';
	font-weight:normal;/*/
	font-size:12px;
	margin:0;
	padding:0 0 0 20px;
	position:relative;
	top:-6px;
}


.dbg-selfselect-lotto-btn,
.dbg-selfselect-em-btn,
.dbg-selfselect-tb-btn{
	display:block;
	float:left;
	height:85px;
	
	
	width:250px;
	height:103px;
	
	/*/margin:0 25px;/*/
}
.dbg-selfselect-lotto-btn{background-image:url(../images/dbg_self_select_show/selfselect-btn-lotto.png);}
.dbg-selfselect-em-btn{background-image:url(../images/dbg_self_select_show/selfselect-btn-em.png);}
.dbg-selfselect-tb-btn{background-image:url(../images/dbg_self_select_show/selfselect-btn-tb.png);}
.dbg-selfselect-lotto-btn.buttonActive{background-image:url(../images/dbg_self_select_show/selfselect-btn-lotto-over.png);}
.dbg-selfselect-em-btn.buttonActive{background-image:url(../images/dbg_self_select_show/selfselect-btn-em-over.png);}
.dbg-selfselect-lotto-btn.selected{background-image:url(../images/dbg_self_select_show/selfselect-btn-lotto-selected.png);}
.dbg-selfselect-em-btn.selected{background-image:url(../images/dbg_self_select_show/selfselect-btn-em-selected.png);}


#dbg-selfselect-footer{
	width:800px;
	height:65px;
	display:table;
	float:left;
	background-image:url(../images/generic/footer-blank.png);
	word-spacing: 2px;
	font-weight:bold;
}
#dbg-selfselect-inner{
	width:800px;
	height:65px;
	display:table-cell;
    text-align: center;
    vertical-align: middle;
}

.back-btn {
		width:85px;
		height:85px;
		margin-left:715px;
		display:block;
		background-image:url(../images/generic/btn-exit.png);
   		z-index:101;
	position:absolute;
	float:left;
}
	
	
/*/ SELF SELECT /*/

.header-order{
	width:800px;
	height:125px;
	display:block;
}

.header-order h1{
	font-size:62px;font-family:'EffraHeavy';
	line-height:50px;
	padding:20px 0 0 20px;
}

.ticket-add-remove-container{
	width:286px;
	height:175px;
	display:block;
	/*/margin-left:auto;
	margin-right:auto;/*/
	background-image:url(../images/dbg_self_select_show/selfselect-ticket-selector-bg.png);
	margin-left:94px;
}
.ticket-remove{
	width:80px;
	height:175px;
	display:block;
	float:left;
	background-image:url(../images/dbg_self_select_show/dbg-selfselect-minus.png);
}
.ticket-add{
	width:80px;
	height:175px;
	display:block;
	float:left;
	background-image:url(../images/dbg_self_select_show/dbg-selfselect-plus.png);
}
.hideBackground{background-image:none;}

.ticket-number{
	width:126px;
	height:145px;
	display:block;
	float:left;
	padding-top:30px;
}
.ticket-number p{font-size:90px;font-family:'EffraHeavy';padding-right:6px;}





.price-confirm-container{
	width:400px;
	height:105px;
	display:block;
	float:left;
}
.ticket-price{
	width:134px;
	height:65px;
	display:block;
	float:left;
	margin:20px 0 0 0;
	padding:20px 20px 0 0;
}
.ticket-price p{font-size:32px;text-align:right;}

.dbg-selfselect-confirm-btn{
	width:226px;
	height:85px;
	display:block;
	float:left;
	background-image:url(../images/generic/btn-confirm.png);
	background-repeat:no-repeat;
	margin:20px 0 0 0;
}



	
.order-row{
	display:block;
	float:left;
	width:800px;
	height:280px;
}
.order-logo-jackpot-container{
	display:block;
	float:left;
	width:400px;
	height:280px;
}
.order-interface{
	display:block;
	float:left;
	width:400px;
	height:280px;
	text-align:center;
}
	

.order-logo{
	display:block;
	float:left;
	width:400px;
	height:175px;
}
.pay-collect-logo{
	display:block;
	float:left;
	width:400px;
	height:175px;
	margin:20px 0;
}
.order-jackpot{
	/*/display:block;
	float:left;/*/
	width:800px;
	height:100px;
	margin:180px 0 0 0;
}
.order-jackpot p {
	padding:0 0 0 20px;
	font-size:32px;
	font-family:'EffraHeavy';
	line-height:28px;
}
.order-jackpot p span{
	font-size:28px;
	font-family:'EffraRegular';
}

p.p2EstLegal{font-family:'EffraRegular';font-size:12px;line-height:12px;margin-top:25px;}

#SELECT_LOTTO .order-logo{
	background-image:url(../images/generic/logos-lotto.png);
	background-repeat:no-repeat;
	background-position:15px bottom;
}	
#SELECT_EM .order-logo{
	background-image:url(../images/generic/logos-euromillions.png);
	background-repeat:no-repeat;
	background-position:10px bottom;
}	
#SELECT_TB .order-logo{
	background-image:url(../images/generic/logos-thunderball.png);
	background-repeat:no-repeat;
	background-position:15px bottom;
}



#ORDER_SENT .content{
	margin-top:50px;
	text-align:center;
}

#ORDER_SENT .order-logo{
	display:block;
	float:left;
	width:100%;
	height:140px;
	background-repeat:no-repeat;
	background-position:center;
}

#ORDER_SENT .pay-collect-logo{
	display:block;
	float:left;
	width:100%;
	height:140px;
	background-repeat:no-repeat;
	background-position:center;
}
	
	
	
#ORDER_CLOSED{background-image:url(../images/generic/holding-screen.png);}
#ORDER_CLOSED .full-screen h1{
	font-family:EffraHeavy;
	font-size:45px;
	line-height:42px;
	word-spacing: 5px;
	color:#FFFFFF;
	padding:102px 0 0 40px;
	letter-spacing:0px;
}