@charset "utf-8";


h1{
	font-size:65px;
	line-height:55px;
	padding:15px 20px 0 20px;
	letter-spacing:-2px;
	word-spacing:10px;
}

h2{
	font-size:65px;
	line-height:60px;
	padding:0 20px 0 20px;
	letter-spacing:-2px;
	word-spacing:10px;
}

h3{
	font-family:EffraHeavy;
	font-size:32px;
	line-height:32px;
	padding:0 20px 0 20px;
	letter-spacing:-1px;
	word-spacing:3px;
}

p{
	font-size:20px;
	line-height:22px;
	padding:0 20px;
	/*/letter-spacing:0px;
	word-spacing:3px;/*/
	/*/letter-spacing:-2px;
	word-spacing:10px;/*/
}

.generic-content-no-header{
	width:800px;
	height:415px;
	display:block;
	float:left;
	text-align:center;
}



/*/ DBG || CHECK || WINNERS || LOSERS /*/

#dbg-screen1{
	background-image:url(../images/scan/generic-background.png);
}

.dbg-content{
	padding:40px 0 0 0;
	height:270px;
}

p.dbg-check, p.dbg-winner{
	padding:50px 0 0 0;
}
p.dbg-loser{
	padding:25px 0 0 0;
}

.subject-to-validation p{
	padding:0;
	margin:0;
	font-size:12px;
	float:left;
	padding:0 0 0 20px;
	position:relative;
	top:-5px; /*/ changes to -20px in jquery /*/
	text-align:left;
}

/*/ SC || CHECK || WINNERS || LOSERS /*/

#SC_SCREEN1{
	background-image:url(../images/scan/find-code.png);
}

#error-screen-virn{
	background-image:url(../images/scan/find-code.png);
}

/*/.sc-content{
	padding:40px 0 0 0;
	height:260px;
	text-align:left;
}/*/
#keypad-column1{
	padding:30px 0 0 0;
	text-align:left;
}
#keypad-column1 h1{
	font-size:60px;
}
#keypad-column1 h3{
	font-size:30px;
}



.qr-content{
	padding:40px 0 0 0;
	height:275px;
}
.qr-content h1{
}
.ticket-data1{
	font-family:EffraHeavy;
	font-weight:bold;
	text-transform:uppercase;
	padding-top:15px;
}
.ticket-data2{
	padding-top:3px;
}
.ticket-data3{
	margin-top:12px;
}
.ticket-data4{
	margin-top:12px;
}
.ticket-data5{
	font-weight:bold;
	font-size:42px;
	text-transform:uppercase;
	margin-top:25px;
}
.scan-qr-confirm-btn{
	background-image:url(../images/generic/btn-confirm.png);
	width:226px;
	height:80px;
	margin-left:auto;
	margin-right:auto;
}
.scan-qr-confirm-btn.buttonActive{
	background-image:url(../images/generic/btn-confirm-over.png);
}





span{margin:0;padding:0;}

p.sc-home-instruction{padding-top:10px;}




.ui-loader {display:none;}

#progressbar-title h2{font-family:EffraHeavy;font-size:20px;color:#000000;}

/*/#keypad-screen h1{font-family:EffraHeavy;font-size:46px;color:#000000;}
#keypad-screen h2{font-family:EffraRegular;font-size:18px;color:#000000;}
#keypad-screen p {font-family:EffraRegular;font-size:16px;color:#000000;padding-top:20px;}/*/

#check-virn-screen h1{font-family:EffraRegular;font-size:18px;color:#000000;}
#check-virn-screen h2{font-family:EffraRegular;font-size:18px;color:#000000;}
#check-virn-screen p {font-family:EffraRegular;font-size:18px;color:#000000;}

.result-header h1 {font-size:38px;}
.result-header h2 {font-size:18px; font-family:EffraHeavy; padding-top:10px;}

/*/#winner-screen3 .result-header h1{font-size:30px;line-height:30px;}
#winner-screen3 .result-header span{font-size:16px;position:relative;}
#winner-screen3 .result-header h2 {font-size:16px; font-family:EffraRegular;padding-top:9px;}/*/

/*/#error-screen-generic h1 {color:#000000; font-size:20px;}
#error-screen-generic p  {padding-top:5px;}/*/

/*/#error-screen-generic .generic-content-no-header{
	position:absolute;
}
#error-screen-generic .dbg-screen-close-btn-closed{
	position:relative;
	margin-top:200px;
}/*/

.generic-row1{
	display:block;
	float:left;
	height:75px;
	width:800px;
	margin-top:40px;
}
.generic-row2{
	display:block;
	float:left;min-height:100px;
	height:auto !important;
	height:100px;
	width:800px;
}
.generic-row2 p{margin-top:8px;}
.generic-row3{
	display:block;
	float:left;
	height:90px;
	width:800px;
}
.generic-row4{
	display:block;
	float:left;
	height:85px;
	width:800px;
	margin-top:5px;
}

#error-screen-custom h1 {color:#000000; font-size:20px;}
#error-screen-custom h2 {color:#000000; font-size:18px;}
#error-screen-custom p  {color:#000000;line-height:20px;padding-top:5px;}

#error-screen-virn h2 {color:#000000;}

.small {font-size:12px;}
.highlight {color:#000000;}



/*////////////////////////////*/
/*/ OVERLAY - CANT FIND CODE /*/
/*////////////////////////////*/

	#find-virn-screen .content{
		padding:0 35px;
	}
	#find-virn-screen .column1{
		width:255px;
		height:290px;
		float:left;
		display:block;
		/*/background-color:#F7F7F7;/*/
	}
	#find-virn-screen .column2{
		width:250px;
		height:290px;
		float:left;
		display:block;
		margin-left:5px;
	}
	#find-virn-screen .row1{
		height:250px;
	}
	#find-virn-screen-exit-btn{
		width:255px;
		height:40px;
		float:left;
		display:block;
		background-image:url(../images/generic/btn-exit.png);
	}
	#find-virn-screen-exit-btn.buttonActive{
		background-position:0px -40px;
	}
	
	#find-virn-screen .divider-row1{margin-top:30px;}
	#find-virn-screen .divider-row2{margin-top:25px;}
	
	.divider-row1{display:block;float:left;}
	.divider-row2{display:block;float:left;}
	
	#find-virn-screen .divider-content{
		padding-right:30px;
		height:45px;
		height:!important;
		min-height:45px;
	}
	#find-virn-screen .divider-number{
		padding-left:10px;
		height:45px;
	}




#QR_ORDER_CLOSED{background-image:url(../images/generic/holding-screen.png);}
#QR_ORDER_CLOSED .full-screen h1{
	font-family:EffraHeavy;
	font-size:45px;
	line-height:42px;
	word-spacing: 5px;
	color:#FFFFFF;
	padding:102px 0 0 40px;
	letter-spacing:0px;
}

/*////////////////////////*/
/*/ OVERLAY - CHECK CODE /*/
/*////////////////////////*/


	#check-virn-screen .content{
		height:235px;
		/*/background-color:#F7F7F7;/*/
		margin:0 35px 5px 35px;
		padding:18px 0 0 15px;
	}
	
	#entered_numbers {
		margin:20px 0;
		text-align:center;
	}
	
	#check-virn-screen-back {
		height:40px;
		width:250px;
		display:block;
		float:left;
		margin-left:35px;
		background-image:url(../images/playerinquiry/confirm-code-back-btn.png);
		}
	#check-virn-screen-back.buttonActive{
		background-position:0px -40px;
	}
		
	#check-virn-screen-confirm {
		height:40px;
		width:250px;
		display:block;
		float:left;
		margin-left:10px;
		background-image:url(../images/playerinquiry/confirm-code-confirm-btn.png);
		}
	#check-virn-screen-confirm.buttonActive{
		background-position:0px -40px;
	}


	/*///////////*/
	/*/ RESULTS /*/
	/*///////////*/
	
	
	.result-animation1{
		/*/background-image:url(../images/playerinquiry/results-anim-rays.png);/*/
		height:140px;
		width:730px;
		display:block;
		position:absolute;
		}
	.result-animation2{
		/*/background-image:url(../images/playerinquiry/results-anim-ribbon.png);/*/
		height:140px;
		width:730px;
		display:block;
		position:absolute;
		}
	.result-animation-content{
		height:120px;
		width:730px;
		display:block;
		position:absolute;
		padding:20px 0 0 0;
		}
	
	.result-header{
		width:730px;
		height:140px;
		display:block;
		color:#000000;
		text-align:center;
		position:relative;
	}
	
	.result-content{
			width:680px;
			height:145px;
			display:block;
			padding:20px 20px 0 30px;
			text-align:center;
		}
		.result-content-unlucky{
			width:730px;
			height:145px;
			display:block;
			padding:20px 0 0 0;
			text-align:center;
		}
	
	.divider-number{
		width:24px;
		height:105px;
		display:block;
		float:left;
	}
			
			
		/*////////////*/
		/*/ TEXTAREA /*/
		/*////////////*/
		
		
		textarea{
			font-family:EffraHeavy;
			/*/font-weight:bold;/*/
			font-size:50px;
			color:#000000;
			/*/border:1px solid #CCCCCC;/*/
			border:none;
			background-color:#E4E0DD;
			height:65px;
			width:75px;
			margin:0px;
			text-align:center;
			padding-top:6px;
			resize:none;
			/*/
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			-khtml-border-radius:5px;/*/
		}
		

	/*//////////*/
	/*/ KEYPAD /*/
	/*//////////*/
	
	.sc-screen1-continue-btn{
		margin-top:48px;
	}
	
	#keypad-content{
		width:760px;
		height:395px;
		position:absolute;
		margin:0 20px 0 20px;
		padding:0;
	}
		
	#keypad-column1{
		width:408px;
		height:365px;
		float:left;
		display:block;
		/*/background-image:url(../images/playerinquiry/gradient.png);
		background-repeat:repeat-x;/*/
		}
		#keypad-column1-row1{
			width:408px;
			height:120px;
			float:left;
			display:block;
			padding:0;
		}
		#keypad-column1-row2{
			width:408px;
			height:90px;
			float:left;
			display:block;
			text-align:center;
			margin:30px 0 30px 0;
		}
		#keypad-column1-row3{
			width:408px;
			height:85px;
			float:left;
			display:block;
			text-align:center;
		}
	
	#keypad-column2{
		width:300px;
		height:295px;
		float:left;
		display:block;
		margin:100px 20px 0 30px;
	}
	
	
	/*////////*/
	/*/ KEYS /*/
	/*////////*/
	
	
	.key{
		font-family:EffraHeavy;
		font-size:35px;
		color:#000000;
		width:92px;
		height:50px;
		float:left;
		display:block;
		background-color:#0ECC46;
		margin:0 0 5px 5px;
		padding:10px 0 5px 0;
		text-align:center;
		/*//*/
		border-radius:5px;
		font-weight:bold;
	}
	
	.key0{
		padding:10px 0 5px 0;
	}
	
	.key-special{
		font-family:EffraHeavy;
		font-size:20px;
		color:#FFFFFF;
		width:92px;
		height:38px;
		float:left;
		display:block;
		margin:0 0 5px 5px;
		padding:22px 0 5px 0;
		text-align:center;
		/*//*/
		border-radius:5px;
	}
	
	.key.buttonActive{
		background-color:#0A8D32;
		color:#000000;
		/*/-webkit-transition: -webkit-filter .15s;
		-webkit-filter: contrast(200%);
		-webkit-filter: brightness(50%);/*/
	}
	
	/*//*/
	.key-enter{
		background-image:url('../images/generic/btn-enter.png');
		width:210px;
		height:85px;
		display:block;
		background-repeat:no-repeat;
		margin-left:auto;
		margin-right:auto;
	}
	.key-enter.buttonActive{background-image:url('../images/generic/btn-enter-over.png');}
	
	.key-clear{background-color:#636363; color:#FFFFFF;font-weight:bold;}
	.key-clear.buttonActive{background-color:#2d2d2d;color:#FFFFFF;font-weight:bold;}
	
	.key-delete{background-color:#636363; color:#FFFFFF;font-weight:bold;}
	.key-delete.buttonActive{background-color:#2d2d2d;color:#FFFFFF;font-weight:bold;}
	
	
	
	
	/*///////////*/
	/*/ BUTTONS 
	/*///////////*/
	
	
	#find-virn-screen-btn{
		margin:0 34px;
		width:380px;
		height:37px;
		background-image:url(../images/playerinquiry/find-virn-screen-btn.png);
	}
	#find-virn-screen-btn.buttonActive {
		background-position:0px -37px;
	}/*/
	
	
	/*////////////////*/
	/*/ KEYPAD CHECK /*/
	/*////////////////*/
	
	
	.btn-generic {
		width:120px;
		height:15px;
		display:block;
		float:left;
		background-color:#000;
		color:#FFFFFF;
		padding:8px 0 12px 0;
		margin:0;
	}
		
		