
/*/ jquerymobile fix /*/
html, body {width:800px; height:480px; overflow:hidden;}
.ui-loader h1 {display:none;}

html, body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

#OSTFrame, #mainOSTFrame {
	width:800px;
	height:480px;
	overflow:hidden;
	/*/overflow:scroll;
	overflow-x:hidden;/*/
	/*/border: 1px solid #333;/*/
}
